{% extends "layout.html" %}

{% block title %}
    {{ book['volumeInfo']['title'] }}
{% endblock %}

{% block main %}
    <div class="container bg-body rounded m-2 p-4 text-black">
        <div class="row">
            <div class="col-md-4">
                <img style="width: 50%; height: auto;" src="{{ book['volumeInfo']['imageLinks']['thumbnail'] }}" alt="{{ book.title }}" class="book-cover">
            </div>
            <div class="col-md-8">
                <h1>{{ book['volumeInfo']['title'] }}</h1>
                {% set authors = book['volumeInfo'].get('authors', ['Unknown Author']) %}
                {% if authors %}
                    {% for author in authors %}
                        <p class="mb-1">by: {{ author }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mb-1">Unknown Author</p>
                {% endif %}
                <p class="mb-1"><strong>Published Date:</strong> {{ book['volumeInfo'].get('publishedDate', 'Unknown') }}</p>
                <p class="mb-1"><strong>Publisher:</strong> {{ book['volumeInfo'].get('publisher', 'Unknown') }}</p>
                <p class="mb-1"><strong>Page Count:</strong> {{ book['volumeInfo'].get('pageCount', 'Unknown') }}</p>
                {% set categories = book['volumeInfo'].get('categories', None) %}
                    {% if categories %}
                        {% for category in categories %}
                            <p class="mb-1">{{ category }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="mb-1">Undefined</p>
                    {% endif %}
                <p><strong>Description:</strong> {{ book['volumeInfo'].get('description', 'No description available.') }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if session["user_id"] %}
                    <!-- Buttons -->
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Update Status
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="/add-to-shelf" method="POST" class="dropdown-item">
                                    <input type="hidden" name="status" value="reading">
                                    <input type="hidden" name="book_id" value="{{ book['id'] }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}?{{ request.query_string.decode() }}">
                                    <button type="submit" class="btn btn-link p-0 text-decoration-none">Reading</button>
                                </form>
                            </li>
                            <li>
                                <form action="/add-to-shelf" method="POST" class="dropdown-item">
                                    <input type="hidden" name="status" value="to_read">
                                    <input type="hidden" name="book_id" value="{{ book['id'] }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}?{{ request.query_string.decode() }}">
                                    <button type="submit" class="btn btn-link p-0 text-decoration-none">To Read</button>
                                </form>
                            </li>
                            <li>
                                <form action="/add-to-shelf" method="POST" class="dropdown-item">
                                    <input type="hidden" name="status" value="read">
                                    <input type="hidden" name="book_id" value="{{ book['id'] }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}?{{ request.query_string.decode() }}">
                                    <button type="submit" class="btn btn-link p-0 text-decoration-none">Read</button>
                                </form>
                            </li>
                            <li>
                                <form action="/add-to-shelf" method="POST" class="dropdown-item">
                                    <input type="hidden" name="status" value="dropped">
                                    <input type="hidden" name="book_id" value="{{ book['id'] }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}?{{ request.query_string.decode() }}">
                                    <button type="submit" class="btn btn-link p-0 text-decoration-none">Dropped</button>
                                </form>
                            </li>
                        </ul>
                        <form action="/remove-from-shelf/{{ book['id'] }}" method="POST">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}?{{ request.query_string.decode() }}">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
