{% extends "layout.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block main %}
    <link href="/static/external.css" rel="stylesheet">
    
    <div class="container">
        <h1 class="text-white">Book Search</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center">
                <form method="POST" action="/search">
                <div class="input-container">
                    <select class="select-search" name="type" aria-label="Select search type">
                        <option value="title" selected>Title</option>
                        <option value="author">Author</option>
                    </select>
                    <input class="input" type="text" name="query" placeholder="Search...">
                    <button class="search-button" type="submit">
                        <span class="icon"> 
                            <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
